h1 {
  color: var(--color-grey-dark-1); }

.home_mobile {
  color: var(--color-grey-dark-1); }

.home_desktop {
  color: var(--color-grey-light-2); }
  .home_desktop_body {
    padding-top: 75px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/elements/sergey-zolkin-192937.jpg");
    background-attachment: fixed;
    background-size: cover; }
    .home_desktop_body p {
      font-size: 2.2rem; }
