h1 {
  color: var(--color-grey-dark-1);
}

.home {
  &_mobile {
    color: var(--color-grey-dark-1);
  }

  &_desktop {
    color: var(--color-grey-light-2);

    &_body {
      padding-top: 75px;
    }
  }
}